.config/menus
.config/Trolltech.conf
.config/caja
.config/pulse
.config/upstart
.config/hexchat
.config/gtk-3.0
.config/user-dirs.dirs
.config/evince
.config/user-dirs.locale
.config/gtk-2.0
.config/dconf
.config/Thunar
.config/mimeapps.list
.config/xviewer
.config/xfce4
.config/chromium
.config/pavucontrol.ini
.config/xed
.config/xplayer
